language: node_js
node_js:
- '7'
before_script:
- npm install
script: npm run build
cache:
  directories:
  - node_modules
deploy:
  - provider: pages
    skip_cleanup: true
    github_token: $GITHUB_TOKEN
    on:
      branch: master
